amqp==5.3.1
asgiref==3.8.1
astroid==3.3.9
billiard==4.2.1
celery==5.5.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.5
cryptography==44.0.2
defusedxml==0.7.1
dill==0.3.9
Django==5.1.7
django-celery-beat==2.7.0
django-environ==0.12.0
django-timezone-field==7.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
djoser==2.3.1
dodgy==0.2.1
flake8==7.1.2
flake8-polyfill==1.0.2
flower==2.0.1
gitdb==4.0.12
GitPython==3.1.44
humanize==4.12.2
idna==3.10
iniconfig==2.0.0
isort==6.0.1
kombu==5.5.2
mccabe==0.7.0
oauthlib==3.2.2
packaging==24.2
pep8-naming==0.10.0
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
prospector==1.15.3
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pycparser==2.22
pydocstyle==6.3.0
pyflakes==3.2.0
PyJWT==2.9.0
pylint==3.3.5
pylint-celery==0.3
pylint-django==2.6.1
pylint-flask==0.6
pylint-plugin-utils==0.8.2
pytest==8.3.5
pytest-django==4.10.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
requests-oauthlib==2.0.0
requirements-detector==1.3.2
semver==3.0.4
setoptconf-tmp==0.3.1
six==1.17.0
smmap==5.0.2
snowballstemmer==2.2.0
social-auth-app-django==5.4.3
social-auth-core==4.5.6
sqlparse==0.5.3
toml==0.10.2
tomlkit==0.13.2
tornado==6.4.2
tzdata==2025.2
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
